.size {
    height: 50px;
}
.color {
    background: #FF2E2E;
}
.nav-text {
    color: #fff !important;
}
.footer-color {
    background: #474747;
    border-top-color: #ff2e2e;
}
.red-text {
    color: #ff2e2e;
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.jumbotron-img2 {
    background: url("../img/bg.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    opacity: 0.9;
/*    filter: blur(4px);*/
}