@using Project_Webapplicaties.Models.Enums
@model Player
@{
    ViewData["Title"] = "Speler toevoegen";
}
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="Index">
                            <span data-feather="home"></span>
                            Admin 
                        </a>
                    </li>
                    <li>
                        <h5 class="ml-2 mt-3"><b>Toevoegen</b></h5>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="AddTeam" class="nav-link">
                            Team Toevoegen 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="AddPlayer" class="nav-link">
                            Speler Toevoegen
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="AddSponsor" class="nav-link">
                            Sponsor Toevoegen
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="AddGame" class="nav-link">
                            Wedstrijden Toevoegen
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="AddReferee" class="nav-link">
                            Scheidsrechter Toevoegen 
                        </a>
                    </li>
                    <li>
                        <h5 class="ml-2 mt-3"><b>Verwijderen / Updaten</b></h5>
                    </li>
                    
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="EditOrDeleteTeam" class="nav-link">
                            Team Verwijderen/Updaten
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="EditOrDeletePlayer" class="nav-link">
                            Player Verwijderen/Updaten
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="EditOrDeleteSponsor" class="nav-link">
                            Sponsor Verwijderen/Updaten
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="EditOrDeleteGame" class="nav-link">
                            Wedstrijden Verwijderen/Updaten
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="EditOrDeleteReferee" class="nav-link">
                            Scheidsrechter Verwijderen/Updaten
                        </a>
                    </li>
                </ul>
            </div>  
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 jumbotron-img2">
            <div class=" pt-3 pb-2 m-5 shadoww">
                <h3 class="mb-5 display-4">Speler toevoegen</h3>
                <form asp-action="AddPlayer">
                    <div class="form-row">
                        <div class="form-group col-md-6 ">
                            <label asp-for="Firstname">Voornaam</label>
                            <input asp-for="Firstname" class="form-control">
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                            <br/>
                            <label asp-for="Name">Naam</label>
                            <input asp-for="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Birthdate">Geboortedatum</label>
                            <input asp-for="Birthdate" type="date" class="form-control">
                            <span asp-validation-for="Birthdate" class="text-danger"></span>
                            <br/>
                            <label asp-for="PloegId">Team</label>
                            <select asp-for="PloegId" asp-items="ViewBag.Teams" class="form-control">
                            </select>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label asp-for="Position">Positie</label>
                            <select asp-for="Position" asp-items="Html.GetEnumSelectList<PositionEnum>()" class="form-control">
                                <option value="">-- Positie selecteren --</option>
                            </select>
                            <span asp-validation-for="Position" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="BestLeg">Beste been</label>
                            <select asp-for="BestLeg" asp-items="Html.GetEnumSelectList<BestLegEnum>()" class="form-control">
                                <option value="">-- Beste been selecteren --</option>
                            </select>
                            <span asp-validation-for="BestLeg" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" value="AddPlayer" class="btn btn-danger mt-3">Aanmaken</button>
                </form>
            </div>
        </main>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }

        $(document).ready(function() {
            var msg = "@TempData["SuccessMessage"]";
            if (msg)
                openSuccessModal(msg);
        });
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
