@{
    ViewData["Title"] = "Teams";
}
<div class="jumbotron-img2">
    <div class="container shadoww">
        <h3 class="mb-5 display-4" >Teams</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <a asp-controller="" asp-action=""><img src="/img/PloegFoto1.jpg" class="card-img-top" height="250" alt="..."></a>
                    <div class="card-body">
                        <h4 class="text-center">Gerheide I</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <a asp-controller="" asp-action=""><img src="/img/PloegFoto2.jpg" class="card-img-top" height="250" alt="..."></a>
                    <div class="card-body">
                        <h4 class="text-center">Gerheide II</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>