@model Project_Webapplicaties.ViewModels.TeamListViewModel
@{
    ViewData["Title"] = "Teams";
}
<div class="jumbotron-img2">
    <div class="container shadoww">
        <h3 class="mb-5 display-4" >Teams</h3>
        <div class="row">
            @foreach (var item in Model.Teams)
            {
                <div class="col-sm m-2 mb-5">
                    <div class="card shadow">
                        <img src="~/img/PloegFoto2.jpg" class="card-img-top" alt="..." height="250">
                        <div class="card-body">
                            <h5 class="card-title"><b>@item.Name</b></h5>
                            <p class="card-text">@item.Division</p>
                            <hr />
                            <a class="btn btn-danger" asp-controller="Team" asp-action="Details" asp-route-id="@item.TeamId">Ploeg bekijken</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>