@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Uw paswoord is ge reset. <a asp-page="./Login">Klik hier voor in te loggen</a>.
</p>
