@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron color">
    <div class="container ">
        <div class="text-center">
            <img class="rounded" src="img/LogoVwGerheide.png" height="150"/>
        </div>
        <h3 class="text-center display-4 nav-text mt-3">Welkom bij Vw Geheide</h3>
    </div>
</div>


