<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VW Gerheide</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/VwGerheide.css" />
    <link rel="icon" type="image/png" sizes="32x32"
          href="~/img/LogoVwGerheide.png">
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark color">
        <div class="container ">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/LogoVwGerheide.png" height="60" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link nav-text ml-2 " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-text ml-2" asp-area="" asp-controller="Team" asp-action="Index">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-text ml-2" asp-area="" asp-controller="Player" asp-action="Index">Spelers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-text ml-2" asp-area="" asp-controller="Home" asp-action="Privacy">Sponsors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-text ml-2" asp-area="" asp-controller="Home" asp-action="Privacy">Over ons</a>
                    </li>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link nav-text ml-2" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <main role="main">
        <div id="myModalSuccess" class="modal fade text-width:30%;" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Informatie</h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div id="MyModalSuccessAlertBody" class="modal-body alert alert-success">
                        Gelukt!
                    </div>
                    <div class="modal-footer">
                        &nbsp;
                        <button type="button" class="btn btn-info" data-dismiss="modal">Sluiten</button>
                    </div>
                </div>
            </div>
        </div>
        
        
        

        @RenderBody()
    </main>
    <footer class="pt-4  footer-color">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h6 class="red-text"> Vw Gerheide</h6>
                    <p class="nav-text">Gerheide (Kapel)<br />2490 Balen</p>
                </div>
                <div class="col-md-5">
                    <img class="" src="/img/LogoVwGerheide.png" height="85" />
                </div>
                <div class="col-md-2 align-items-lg-end">
                    <ul class="list-unstyled">
                        <li>
                            <a class="nav-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-text" asp-area="" asp-controller="Team" asp-action="Index">Teams</a>
                        </li>
                        <li>
                            <a class="nav-text" asp-area="" asp-controller="Player" asp-action="Index">Spelers</a>
                        </li>
                        <li>
                            <a class="nav-text" asp-area="" asp-controller="Home" asp-action="Privacy">Sponsors</a>
                        </li>
                        <li>
                            <a class="nav-text" asp-area="" asp-controller="Home" asp-action="Privacy">Over ons</a>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="text-lg-center nav-text">&copy; 2022 VW Gerheide</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
